
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
  width: 300px;
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(222, 221, 221);
  padding: 20px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  padding: 8px;
  border:none;
  border-radius: 5px;
}
.weather{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-inline: auto;
  margin: 15px;
  align-items: center;
}
.name{
  font-size: 2rem;
}